In [1]:
import numpy as np 
import pandas as pd

df1 =pd.read_csv("D:\Capstone\Data\VideoStarted.csv")
df2 = pd.read_csv("D:\Capstone\Data\VideoDetails.csv")
print("VideoStarted Dataset")
df2.head(10)

VideoStarted Dataset

,UserId,Date,Minute_Of_Day,Second,State,Genre,Category,ProgramType,Country,Device,OS,VideoId
0,dc93d200565e5bf6e6fc55adb1c5ba06,20170106,0,4,35,Drama,vod,TV Shows,1,2,1,1f2dc23e0d2415353982cfa38cbaf983
1,12060efd8b68ea562b265d0129a8af1f,20170106,0,16,35,Horror,vod,Movies,1,1,1,6c95441f239cebf9930ac5932cc84a7f
2,9151ab2a901458f27e36548d4a8dc011,20170106,0,20,0,Drama,vod,TV Shows,255,1,1,1af000794c63fa2722e22af609ff572c
3,1faf0ce0b98e02e1568702f516f01a78,20170106,0,20,35,Drama,vod,TV Shows,1,1,1,f053c42e98d50e06532ce8d65afb3ab3
4,435d41ae019cb8db785483793859c9a8,20170106,0,20,35,Anime,vod,TV Shows,1,1,1,2a9d984659afc14f801548dd71ddad0e
5,434200a07e2d14835580cee9ddcf978c,20170106,0,24,0,Thriller,vod,Movies,255,1,1,8d03b652089819c4bc6a77ef653635ff
6,1faf0ce0b98e02e1568702f516f01a78,20170106,0,28,35,Drama,vod,TV Shows,1,1,1,6b14489f3e020c5748624098a605aa1e
7,3ec691b9d2b5d53ef965fe59b1900b30,20170106,0,40,35,Drama,vod,TV Shows,1,2,2,7f28920fe8255272f3f408c4b2564868
8,9151ab2a901458f27e36548d4a8dc011,20170106,0,44,0,Drama,vod,TV Shows,255,1,1,1af000794c63fa2722e22af609ff572c
9,cc3c6d5497235af3c445f41296a4e81f,20170106,0,44,0,Drama,vod,Movies,255,1,1,662f197c76deabd3b56a6ed109c873b4

In [15]:
df2['Country'].value_counts().head(3)

1      2688671
40      928251
255      66443
Name: Country, dtype: int64

In [14]:
df1[df1.Country ==  40]['State'].value_counts().head(10)

160    107201
33      82949
46      64382
14      40594
23      23226
31      23074
43      12494
7        9343
15       5839
12       3195
Name: State, dtype: int64

In [13]:
df2[df2.Country ==  40]['State'].value_counts().head(10)

160    268725
33     188643
46     150988
14      98928
31      56509
23      52364
43      29780
7       22004
15      13718
12       7634
Name: State, dtype: int64

# country-state view analysis

In [16]:
df2[df2.Country ==  1]['State'].value_counts().head(20)

35    1076598
57     397211
40     318674
36     313810
38      78824
39      68478
2       49045
37      48972
49      43332
48      42709
6       41629
43      38900
47      27757
45      25575
41      24512
46      22493
12      21351
42      10601
50       8507
34       5543
Name: State, dtype: int64

In [7]:
df2[df2.Country ==  40]['State'].value_counts().head(15)

160    268725
33     188643
46     150988
14      98928
31      56509
23      52364
43      29780
7       22004
15      13718
12       7634
5        4730
38       4611
26       3888
16       3600
32       3389
Name: State, dtype: int64

In [8]:
df2[df2.Country ==  255]['State'].value_counts().head(15)

0    66443
Name: State, dtype: int64

In [8]:
df2['Date'] = df2['Date'].apply(lambda x:str(x)[0:4]+str('/') + str(x)[4:6] + str('/') + str(x)[6:8])
df2['Date'] = pd.to_datetime(df2['Date'])
df2.head(5)

,UserId,Date,Minute_Of_Day,Second,State,Genre,Category,ProgramType,Country,Device,OS,VideoId
0,dc93d200565e5bf6e6fc55adb1c5ba06,2017-01-06,0,4,35,Drama,vod,TV Shows,1,2,1,1f2dc23e0d2415353982cfa38cbaf983
1,12060efd8b68ea562b265d0129a8af1f,2017-01-06,0,16,35,Horror,vod,Movies,1,1,1,6c95441f239cebf9930ac5932cc84a7f
2,9151ab2a901458f27e36548d4a8dc011,2017-01-06,0,20,0,Drama,vod,TV Shows,255,1,1,1af000794c63fa2722e22af609ff572c
3,1faf0ce0b98e02e1568702f516f01a78,2017-01-06,0,20,35,Drama,vod,TV Shows,1,1,1,f053c42e98d50e06532ce8d65afb3ab3
4,435d41ae019cb8db785483793859c9a8,2017-01-06,0,20,35,Anime,vod,TV Shows,1,1,1,2a9d984659afc14f801548dd71ddad0e

In [12]:
df2['Date'].value_counts().head(10)

2017-05-30    54398
2017-05-31    54374
2017-06-04    54113
2017-05-27    52004
2017-05-25    51776
2017-06-03    51671
2017-06-01    51400
2017-05-29    51350
2017-06-02    51091
2017-05-23    50470
Name: Date, dtype: int64

In [27]:
df2.Genre.head(5)

0      Drama
1     Horror
2      Drama
3      Drama
4      Anime
Name: Genre, dtype: object

In [25]:
df2[df2.Genre == 'horror'].head(10)

Empty DataFrame
Columns: [UserId, Date, Minute_Of_Day, Second, State, Genre, Category, ProgramType, Country, Device, OS, VideoId]
Index: []

SyntaxError: invalid syntax (<ipython-input-18-c870fd29cace>, line 1)